@value makerOrange, makerLightGrey from "../../common/colors.css";

.container {
  display: flex;
  height: 50em;
  /* overflow-y: auto; */
}

.add_form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 3rem;
}

.add_comment {
  font-family: "NS-L";
  font-size: 2em;
}

.detail {
  height: 100%;
  background-color: makerLightGrey;
}

.write_recipe {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  right: 60px;
  bottom: 60px;
  border: 3px solid makerOrange;
  border-radius: 2em;
  padding: 1em 2em;
}

.write_icon {
  margin-right: 1em;
}

.wrtie_span {
  font-weight: 700;
}

.xmark {
  width: 1rem;
  height: 1rem;
  margin-left: 2rem;
  background-color: gray;
  cursor: pointer;
}
