.container {
  display: flex;
}

.add_form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 5em;
}

.add_comment {
  font-size: 2em;
}

.cards {
  flex: 1 1 50%;
}

.detail {
  flex: 1 1 50%;
}
