@value makerWhite, makerLightGreen from "../../common/colors.css";

.card {
  /* border-radius: 1em; */
  margin: 2em;
  display: flex;
  flex-direction: column;
  background-color: white;
  transition: all 500ms;
}

.card.grid {
  width: 300px;
  height: 400px;
}

.card.list {
  width: 40%;
}

.card:hover {
  background-color: #d1cdca;
}

.body {
  display: flex;
  flex-direction: column;
}

.catecory {
  align-self: flex-start;
  background-color: cadetblue;
  color: makerWhite;
  margin-left: 0.7em;
  margin-bottom: 0;
  padding: 0.5em 0.7em;
  text-align: center;
  border-radius: 2em;
  font-family: "NS-R";
  font-size: 0.85rem;
  letter-spacing: -0.3px;
}

.img {
  width: 100%;
  height: 243px;
}

.title {
  font-family: "NS-B";
  font-size: 1.5rem;
  letter-spacing: -0.5px;
  margin-left: 0.5em;
  margin-top: 0.5em;
  margin-right: 1em;
}

.footer {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  margin-left: 0.5em;
  margin-bottom: 1em;
}

.avator {
  width: 2em;
  height: 2em;
  margin-right: 0.5em;
}

.footer_info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: "NS-R";
  font-size: 0.85rem;
  letter-spacing: -0.3px;
}

.user {
  margin: 0;
  font-size: 0.8em;
  margin-bottom: 0.2em;
}

.date {
  margin: 0;
  font-size: 0.4em;
}
